[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
streamlit = "*"
fastapi = "*"
joblib = "*"
pydantic = "*"
uvicorn = "*"
pillow = "*"
python-dotenv = "*"

[dev-packages]
ipykernel = "*"
response = "*"

[requires]
python_version = "3.12"
